<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcmmall.mapper.NoticeMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notice (title, content, sort, status, create_time, update_time)
        VALUES (#{title}, #{content}, #{sort}, #{status}, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE notice
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM notice WHERE id = #{id}
    </delete>

    <select id="selectById" resultType="com.tcmmall.entity.Notice">
        SELECT * FROM notice WHERE id = #{id}
    </select>

    <select id="selectList" resultType="com.tcmmall.entity.Notice">
        SELECT * FROM notice WHERE 1=1
        <if test="status != null">AND status = #{status}</if>
        ORDER BY sort ASC
    </select>
</mapper>
