<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcmmall.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, nickname, phone, email, avatar, status, create_time, update_time)
        VALUES (#{username}, #{password}, #{nickname}, #{phone}, #{email}, #{avatar}, #{status}, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE user
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="status != null">status = #{status},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <update id="deleteById">
        UPDATE user SET status = 0 WHERE id = #{id}
    </update>

    <select id="selectById" resultType="com.tcmmall.entity.User">
        SELECT * FROM user WHERE id = #{id} AND status = 1
    </select>

    <select id="selectByUsername" resultType="com.tcmmall.entity.User">
        SELECT * FROM user WHERE username = #{username} AND status = 1
    </select>

    <select id="selectList" resultType="com.tcmmall.entity.User">
        SELECT * FROM user WHERE status = 1
        <if test="keyword != null and keyword != ''">
            AND (username LIKE CONCAT('%', #{keyword}, '%') OR nickname LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY create_time DESC
    </select>
</mapper>